@charset "utf-8";
/* CSS Document */
.aticle{ height:100%;}
.ati-con{ width:640px; border:1px solid #ccc; padding:80px;}
.ati-title{ font-size:30px; color:#333; font-weight:bold; margin-bottom:60px;}
.ati-text{ font-size:16px; color:#666; text-indent:2em; margin-top:30px; line-height:32px;}
.ati-s-t{ font-size:20px; color:#333; line-height:100px;}
.no-text{ text-indent:0px;}
.blue{ color:#0080ff; font-weight:bold;}
.text-cen{ font-size:18px; color:#666; text-align:center; }
.small-title{ font-size:20px; color:#5f9cef; line-height:100px;}
.sma-t-c{ width:25%; font-size:16px; color:#5f9cef; border:1px solid #5f9cef; border-radius:10px; padding:10px;}
.text-bg{ background:#5f9cef; color:#fff; border:2px dashed #fff; padding:10px; border-radius:8px;}
.biji{ font-size:22px; font-weight:bold; border-bottom: 1px solid #5f9cef; line-height:40px; padding:30px 0 0 10px;}

.no-bold{ font-weight:normal;}

.xuanfu{ width:138px; height:185px; border:1px solid #ccc; position:fixed; top:200px; right:10%;}
.ewm{ font-size:14px; color:#666; text-align:center; line-height:20px;}


