@charset "utf-8";
body {
	background: #fdfdfd;
}
.banner-dsj {
	width: 100%;
	height: 500px;
	background: url(../img/dsj/banner.jpg) no-repeat;
	background-size: 100%;
}

.banner-rjcs {
	width: 100%;
	height: 600px;
	background: url(../img/rjcs/banner1-2.jpg) no-repeat;
	background-size: 100%;
}
.banner-c{
	width: 100%;
	height: 500px;
	background: url(../img/c/banner_01.jpg) no-repeat;
	background-size: 100%;
}
.banner-wlyx {
	width: 100%;
	height: 680px;
	background: url(../img/wlyx/banner08.png) no-repeat;
	background-size: 100%;
}
.banner-php {
	width: 100%;
	height: 160px;
	background: url(../img/php/0-1.jpg) no-repeat;
	background-size: 100%;
}

.banner-qrs {
	width: 100%;
	height: 350px;
	background: url(../img/qrs/tit_01.png) no-repeat;
	background-size: 100%;
}

.banner-unity {
	width: 100%;
	height: 450px;
	background: url(../img/unity/banner.jpg) no-repeat;
	background-size: 100%;
}
.banner-web {
	width: 100%;
	height: 400px;
	background: url(../img/web/1.jpg) no-repeat;
	background-size: 100%;
}

.banner-kuaiji {
	width: 100%;
	height: 200px;
	background: url(../img/kuaiji/66.jpg) no-repeat;
	background-size: 100%;
}

.banner-accp {
	width: 100%;
	height: 733px;
	background: url(../img/index/sec3-1.jpg) no-repeat;
	background-size: 100%;
}
.banner-zhongzhuan {
	width: 100%;
	height: 470px;
	background: url(../img/zhongzhuan/1-1P1301R152129.png) no-repeat;
	background-size: 100%;
}
.banner-zhongzhuan-zhanshi {
	width: 100%;
	height: 400px;
	background: url(../img/zhongzhuan/1-1P1301R213564.jpg) no-repeat;
	background-size: 100%;
}
.banner-dianjing {
	width: 100%;
	height: 300px;
	background: url(../img/dianjing/logo1.jpg) no-repeat;
	background-size: 100%;
}

.banner-huanyi  {
	width: 100%;
	height: 733px;
	position: relative;
	left: 50px;
	
}

.accpFWrap {
	height: 660px;
	margin-top: 60px;
}

.accpF {
	width: 1212px;
	height: 526px;
	overflow: hidden;
}

.accpF dl {
	width: 575px;
	height: 262px;
	float: left;
	overflow: hidden;
}

.accpF dl dt {
	width: 262px;
	height: 260px;
}

.accpF dl dt p {
	color: #fff;
	font-size: 20px;
	margin: 155px 0 0 18px;
}

.accpF dl dt p span {
	font-size: 36px;
}

.accpF dl dd {
	width: 313px;
	height: 260px;
	overflow: hidden;
	position: relative;
}

.accpF dl dd p {
	width: 306px;
	height: 42px;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 36px 0 0 7px;
}

.accpF .first dt {
	background: #ff6c6c;
}

.accpF .second dt {
	background: #ffd46e;
}

.accpF .thrid dt {
	background: #6ebfff;
}

.accpF .forth dt {
	background: #d0ed6b;
}

.gaoWrap {
	height: 786px;
	margin-top: 64px;
}
.gaoWrap-zhanshi {
	height: 900px;
	margin-top: 64px;
}

.gao {
	width: 1212px;
	height: 586px;
}

.gao-zhanshi {
	width: 1212px;
	height: 700px;
}

.gao-content {
	width: 1212px;
	height: 388px;
	background: url(../img/accp/sec_2.png) no-repeat right center;
}

.gao-content-zhanshi {
	width: 1212px;
	height: 388px;
}

.dianjing-content {
	width: 1212px;
	height: 388px;
	background: url(../img/dianjing/stu1.jpg) no-repeat right center;
}

.huanyi-content {
	width: 1212px;
	height: 388px;
	background: url(../img/huanyi/sj_03.jpg) no-repeat right center;
}

.kuaiji-content {
	width: 1212px;
	height: 388px;
	background: url(../img/kuaiji/part2_cma.jpg) no-repeat right center;
}

.course-info {
	width: 520px;
	height: 230px;
	margin-top: 30px;
}

.course-info dl {
	width: 516px;
	height: 72px;
	overflow: hidden;
}

.course-info dl dt {
	width: 74px;
	height: 24px;
	background: url(../img/accp/sec3.png) no-repeat 1px -122px;
	color: #fff;
	padding: 4px 0 0 12px;
}

.course-info .second dt {
	background-position: 1px -80px;
}

.course-info .thrid dt {
	background-position: 1px -39px;
}

.course-info .forth dt {
	background-position: 1px 0px;
}

.course-info dl dd {
	width: 430px;
	height: 63px;
	margin-top: 3px;
	line-height: 20px;
}

.course-info dl dd p {
	padding-left: 2px;
}

.course-info .first p {
	border-bottom: 2px solid #d2e176;
}

.course-info .second p {
	border-bottom: 2px solid #ffec61;
}

.course-info .thrid p {
	border-bottom: 2px solid #a6c6ff;
}

.course-info .forth p {
	border-bottom: 2px solid #ee8383;
}

.shouWrap {
	height: 614px;
}

.shou {
	width: 1100px;
	height: 414px;
}

.shouWrap .shou .top-title {
	margin-left: 729px;
}

.shouWrap .shou .top-title span {
	margin-left: 165px;
}

.course-list {
	width: 1100px;
	height: 312px;
	margin-top: 20px;
}

.course-list dl {
	width: 330px;
	height: 312px;
	position: relative;
	margin-right: 40px;
}

.course-list dl dt p {
	width: 80px;
	height: 18px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	position: absolute;
	left: 0;
	top: 120px;
	padding: 6px 10px 6px 240px;
}

.course-list dl dt p i {
	font-style: normal;
}

.course-list dl dt span {
	width: 92px;
	height: 92px;
	border-radius: 50%;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 92px;
	position: absolute;
	top: 88px;
	left: -20px;
	font-size: 24px;
}

.course-list .first dt span {
	background: #eb6666;
}

.course-list .second dt span {
	background: #bcd651;
}

.course-list .thrid dt span {
	background: #2fbcec;
}

.course-list dl dd {
	width: 250px;
	height: 130px;
	position: relative;
	margin: 36px 0 0 90px;
}

.detailL {
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
}

.course-list .first .detailR {
	position: absolute;
	top: 0;
	right: 40px;
}

.course-list .second .detailR {
	position: absolute;
	top: 0;
	right: 26px;
}

.course-list .thrid .detailL {
	position: absolute;
	top: 0;
	left: -15px;
	text-align: right;
}

.course-list .thrid .detailR {
	position: absolute;
	top: 0;
	right: 10px;
}

.accpKWrap {
	height: 664px;
}

.accpK {
	width: 1212px;
	height: 464px;
	background: url(../img/accp/sec4.jpg) no-repeat 0px 80px;
}

.accpK .top-title {
	text-align: center;
}

.accpS-con .afirst:hover .li01,
.accpS-con .afourth:hover .li04 {
	display: block;
}

.li01 {
	width: 649px;
	height: 502px;
	background: url(../img/accp/accp01.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}

.li04 {
	width: 649px;
	height: 502px;
	background: url(../img/accp/accp02.png) no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	display: none;
}

.accpRWrap {
	height: 1580px;
}

.dianjingRWrap {
	height: 1330px;
}

.accpR {
	width: 1212px;
	height: 590px;
	background: url(../img/accp/sec6.jpg) no-repeat 0 93px;
}
.accpdianjing {
	width: 1212px;
	height: 360px;
	background: url(../img/dianjing/logo7.jpg) no-repeat 0 93px;
}

.accphuanyi {
	width: 1212px;
	height: 840px;
	background: url(../img/huanyi/timg.jpg) no-repeat 0 93px;
}

.accpkuaiji {
	width: 1212px;
	height: 590px;
	background: url(../img/kuaiji/cmaxzg.jpg) no-repeat 0 93px;
}

.accpP {
	width: 1212px;
	height: 590px;
	background: url(../img/accp/sec8.jpg) no-repeat 0 93px;
}

.accpJWrap {
	height: 828px;
}

.accpJ {
	width: 1212px;
	height: 628px;
	background: url(../img/accp/sec9.jpg) no-repeat 600px 158px;
}

.accpJ-con {
	width: 1100px;
	height: 461px;
	position: relative;
}

.accpJ-con span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 10px;
	font-size: 20px;
	color: #808080;
	line-height: 32px;
}

.big {
	font-size: 40px;
}

.banner-benet {
	width: 100%;
	height: 700px;
	background: url(../img/benet/banner.png) no-repeat;
	background-size: 100%;
}

.accpF dl dt .benet-sec1 {
	margin: 190px 0 0 18px;
}

.accpF dl dd .benet-sec2 {
	height: 48px;
	padding: 30px 0 0 7px;
	font-size: 16px;
}

.benet-content {
	width: 1212px;
	height: 435px;
	background: url(../img/benet/sec2.jpg) no-repeat right center;
}

.course-info dl .benet-sec3 {
	background: url(../img/accp/sec3.png) no-repeat 1px -122px;
}

.learnWrap {
	height: 1666px;
}

.learn {
	width: 1212px;
	height: 1472px;
}

.learn .content {
	width: 1212px;
	height: 1400px;
	background: url(../img/benet/sec3.jpg) no-repeat 0 822px;
}

.info {
	width: 1212px;
	height: 100px;
	margin-top: 50px;
}

.info span {
	font-size: 20px;
	color: #545454;
	display: block;
	float: left;
	margin-left: 50px;
}

.info span.ml {
	margin-left: 150px;
}

.benetZWrap {
	height: 4232px;
}

.benetZ {
	width: 100%;
	height: 906px;
	background: url(../img/benet/sec5.jpg) no-repeat 0 150px;
	position: relative;
	text-align: center;
}

.benetZWrap img {
	display: inline;
	vertical-align: middle;
}

.binfo {
	width: 956px;
	height: 424px;
	color: #fff;
	font-size: 40px;
	position: absolute;
	right: 200px;
	top: 450px;
	text-align: right;
	vertical-align: middle;
}

.benetZ .binfo span {
	margin-right: 60px;
}

.binfo p {
	font-size: 20px;
	margin-top: 20px;
}

.benetS {
	width: 1212px;
	height: 1580px;
}

.benetSC {
	width: 1212px;
	height: 620px;
	background: url(../img/benet/sec6.jpg) no-repeat center top;
}

.top-title i {
	font-style: normal;
}

.benetC {
	width: 1100px;
	height: 530px;
	position: relative;
}

.benetC li {
	width: 260px;
	height: 260px;
	float: left;
	position: relative;
	margin-right: 10px;
}

.benetC li p {
	width: 260px;
	height: 64px;
	color: #fff;
	font-size: 24px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	line-height: 64px;
}

.benetC .first p {
	background: rgba(254, 90, 89, .7);
}

.benetC .second p {
	background: rgba(255, 163, 0, .7);
}

.benetC .thrid {
	width: 540px;
	height: 530px;
}

.benetC .thrid p {
	width: 540px;
	height: 95px;
	background: rgba(0, 186, 237, .7);
	line-height: 95px;
}

.benetC .forth {
	position: absolute;
	left: 0;
	bottom: 0px;
}

.benetC .forth p {
	background: rgba(67, 197, 229, .7);
}

.benetC .five {
	position: absolute;
	left: 270px;
	bottom: 0px;
}

.benetC .five p {
	background: rgba(175, 220, 59, .7);
}

.benetwz {
	width: 1212px;
	height: 1350px;
}

.benetwz {
	width: 1212px;
	height: 1350px;
}

.benetwz p {
	text-align: center;
	font-size: 30px;
	color: #454545;
	line-height: 36px;
}

.benetwzB {
	width: 1212px;
	height: 1016px;
	background: url(../img/benet/sec8.jpg) no-repeat center;
	margin-top: 50px;
}

.accpS-con .afirst:hover .benet-li01,
.accpS-con .afourth:hover .benet-li04 {
	display: block;
}

.benet-li01 {
	width: 649px;
	height: 502px;
	background: url(../img/benet/benet01.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}

.benet-li04 {
	width: 649px;
	height: 502px;
	background: url(../img/benet/benet02.png) no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	display: none;
}

.banner-java {
	width: 100%;
	height: 733px;
	background: url(../img/java/banner.png) no-repeat;
	background-size: 100%;
}

.javaWrap {
	height: 8302px;
}

.java-sec1 {
	width: 1212px;
	height: 710px;
	margin-top: 100px;
}

.java-sec1 .sec1-con {
	width: 1145px;
	height: 550px;
}

.java-sec1 .sec1-con li {
	width: 360px;
	height: 550px;
	float: left;
	margin-right: 30px;
}

.javaSec1Top {
	width: 360px;
	height: 435px;
	position: relative;
}

.javaSec1Top p {
	width: 348px;
	height: 66px;
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px 0 0 12px;
}

.java-sec1 .sec1-con .first .javaSec1Top p {
	background: rgba(234, 81, 82, .7);
}

.java-sec1 .sec1-con .second .javaSec1Top p {
	background: rgba(157, 195, 68, .7);
}

.java-sec1 .sec1-con .thrid .javaSec1Top p {
	background: rgba(29, 174, 220, .7);
}

.javaSec1Btm {
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
}

.java-sec2 {
	width: 1212px;
	height: 900px;
}

.java-sec2 img {
	display: inline-block;
}

.java-sec2 .java-con {
	width: 1212px;
	height: 764px;
}

.java-sec2 .java-con li {
	width: 600px;
	height: 382px;
	float: left;
}

.java-sec2 .java-con li p {
	width: 570px;
	height: 97px;
	color: #fff;
	font-size: 16px;
	text-align: right;
	padding: 40px 30px 0 0;
	line-height: 34px;
}

.java-sec2 .java-con .first p {
	background: url(../img/java/sec2-1.1.jpg) no-repeat center;
}

.java-sec2 .java-con .second p {
	background: url(../img/java/sec2-2.1.jpg) no-repeat center;
}

.java-sec2 .java-con .thrid p {
	background: url(../img/java/sec2-3.1.jpg) no-repeat center;
}

.java-sec2 .java-con .forth p {
	background: url(../img/java/sec2-4.1.jpg) no-repeat center;
}

.java-sec2 .java-con li p span {
	font-size: 26px;
}

.java-sec3 {
	width: 1212px;
	height: 1160px;
}

.java-shizi li {
	width: 173px !important;
}

.java-shizi li .sec-sz {
	width: 173px !important;
}

.java-shizi li .sec-sz span {
	margin-left: 35px !important;
	text-align: center;
}

.java-shizi li i {
	width: 173px !important;
}

.java-sec4 {
	width: 1212px;
	height: 2202px;
	overflow: hidden;
}

.java-sec4 h3 img {
	display: inline-block;
}

.java-sec4 .conImg {
	margin: 80px auto;
}

.accpS-con .afirst:hover .java-li01,
.accpS-con .afourth:hover .java-li04 {
	display: block;
}

.java-li01 {
	width: 649px;
	height: 502px;
	background: url(../img/java/java01.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}

.java-li04 {
	width: 649px;
	height: 502px;
	background: url(../img/java/java02.png) no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	display: none;
}

.java-sec5 {
	width: 1212px;
	height: 708px;
}

.bdqnCon {
	width: 1000px;
	height: 572px;
	margin: 60px auto;
}

.bdqnCon li {
	width: 162px;
	height: 166px;
	float: left;
	color: #fff;
	font-size: 26px;
	text-align: center;
	padding: 120px 44px 0;
}

.bdqnCon .jfirst {
	background: #e34856;
}

.bdqnCon .jsecond {
	background: url(../img/boy/sec-b-17.png) no-repeat;
}

.bdqnCon .jthird {
	background: #78a84e;
}

.bdqnCon .jfourth {
	background: url(../img/boy/sec-b-18.png) no-repeat;
}

.bdqnCon .jfifth {
	background: url(../img/boy/sec-b-19.png) no-repeat;
}

.bdqnCon .jsixth {
	background: #f18d30;
}

.bdqnCon .jseventh {
	background: url(../img/boy/sec-b-20.png) no-repeat;
}

.bdqnCon .jeighth {
	background: #065381;
}



.wlyxFWrap {
	height: 960px;
	margin-top: 90px;
}

.wlyxF {
	width: 1212px;
	height: 760px;
	overflow: hidden;
}

.wlyxF .wlyxF-con {
	width: 1131px;
	height: 581px;
	margin-top: 50px;
}

.wlyxF dl {
	width: 562px;
	height: 225px;
	float: left;
	overflow: hidden;
	color: #fff;
}

.wlyxF dl dt {
	width: 368px;
	height: 225px;
	position: relative;
	float: left;
}

.wlyxF dl dt p {
	width: 348px;
	height: 50px;
	font-size: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	line-height: 50px;
	text-align: right;
	padding-right: 20px;
}

.wlyxF dl dd {
	width: 182px;
	height: 150px;
	float: left;
	font-size: 24px;
	text-align: center;
	padding-top: 75px;
}

.wlyxF .first dt p {
	background: url(../img/wlyx/sec1-1.1.jpg) no-repeat;
}

.wlyxF .second dt p {
	background: url(../img/wlyx/sec1-2.1.jpg) no-repeat;
}

.wlyxF .thrid dt p {
	background: url(../img/wlyx/sec1-3.1.jpg) no-repeat;
}

.wlyxF .forth dt p {
	background: url(../img/wlyx/sec1-4.1.jpg) no-repeat;
}

.wlyxF .first dd {
	background: #e94644;
}

.wlyxF .second dd {
	background: #a9ce2f;
}

.wlyxF .thrid dd {
	background: #f5b725;
}

.wlyxF .forth dd {
	background: #2d97d4;
}

.wlyx {
	width: 100%;
	height: 733px;
	background: url(../img/wlyx/sec3.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.wlyx .wl {
	width: 647px;
	height: 175px;
	background: url(../img/wlyx/sec2.png) no-repeat;
	position: absolute;
	right: 200px;
	bottom: 100px;
}

.wlyxWrap {
	height: 7900px;
}

.wlyx-sec1 {
	width: 1212px;
	height: 626px;
}

.tr {
	text-align: right;
}

.wlyx-sec1 .content {
	width: 1212px;
	height: 494px;
	background: url(../img/wlyx/sec4.jpg) no-repeat center;
	margin-top: 40px;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.tip {
	width: 505px;
	height: 128px;
	text-align: right;
	font-size: 18px;
	overflow: hidden;
	margin-left: 40px;
}

.tip h3 {
	font-size: 24px;
	line-height: 34px;
}

.contentMsg {
	width: 566px;
	height: 230px;
	position: absolute;
	right: 170px;
	bottom: 30px;
}

.contentMsg p span {
	width: 144px;
	height: 32px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	margin-right: 10px;
}

.contentMsg .first span {
	background: url(../img/wlyx/sec10-1.png) no-repeat;
}

.contentMsg .second span {
	background: url(../img/wlyx/sec10-2.png) no-repeat;
}

.contentMsg .thrid span {
	background: url(../img/wlyx/sec10-3.png) no-repeat;
}

.contentMsg .forth span {
	background: url(../img/wlyx/sec10-4.png) no-repeat;
}

.shizi li {
	width: 210px;
	height: 460px;
	float: left;
	position: relative;
}

.shizi li .sec-sz {
	width: 210px;
	height: 102px;
	background: rgba(46, 157, 217, .5);
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 16px;
	text-align: center;
}

.shizi li .sec-sz span {
	width: 105px;
	height: 50px;
	display: block;
	font-size: 24px;
	line-height: 50px;
	margin-left: 52px;
}

.shizi li i {
	width: 210px;
	height: 6px;
	background: #2e9dd9;
	position: absolute;
	left: 0;
	bottom: 0;
}

.shizi li .wy-2 {
	bottom: -110px;
	left: -84px;
}

.shizi li .wy-3 {
	left: -322px;
}

.shizi li .wy-4 {
	left: -540px;
}

.shizi li .wy-5 {
	bottom: -110px;
	left: -765px;
}

.wlyx-sec3 {
	width: 1212px;
	height: 480px;
}

.wlyx-sec3 .content {
	width: 1120px;
	height: 374px;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.wlyx-sec3 .content li {
	width: 215px;
	height: 326px;
	position: absolute;
}

.wlyx-sec3 .content li h3 {
	width: 205px;
	height: 32px;
	padding: 60px 0 0 10px;
	font-size: 24px;
}

.wlyx-sec3 .content li .conBtm p {
	width: 210px;
	height: 54px;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 6px 0 0 5px;
}

.wlyx-sec3 .content .one {
	top: 46px;
	left: 0;
}

.wlyx-sec3 .content .two {
	top: 0px;
	left: 225px;
}

.wlyx-sec3 .content .three {
	top: 46px;
	left: 450px;
}

.wlyx-sec3 .content .four {
	top: 0px;
	left: 675px;
}

.wlyx-sec3 .content .five {
	top: 46px;
	left: 900px;
}

.wlyx-sec3 .content .one h3 {
	background: url(../img/wlyx/sec5-1.png) no-repeat;
}

.wlyx-sec3 .content .two h3 {
	background: url(../img/wlyx/sec5-2.png) no-repeat;
}

.wlyx-sec3 .content .three h3 {
	background: url(../img/wlyx/sec5-3.png) no-repeat;
}

.wlyx-sec3 .content .four h3 {
	background: url(../img/wlyx/sec5-4.png) no-repeat;
}

.wlyx-sec3 .content .five h3 {
	background: url(../img/wlyx/sec5-5.png) no-repeat;
}

.wlyx-sec4 {
	width: 1212px;
	height: 850px;
	background: url(../img/wlyx/sec6.jpg) no-repeat center;
}

.wlyx-sec5 {
	width: 1212px;
	height: 622px;
}

.wid {
	width: 1100px;
	text-align: center;
}

.wlyx-sec5 .content {
	width: 1100px;
	height: 490px;
}

.wlyx-sec5 .content dl {
	width: 1100px;
	height: 122px;
}

.wlyx-sec5 .content dl dt {
	width: 550px;
	height: 122px;
	float: left;
}

.wlyx-sec5 .content dl dd {
	width: 550px;
	height: 122px;
	float: left;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 122px;
	position: relative;
}

.wlyx-sec5 .content dl dd span {
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 20px;
	border-style: solid;
	position: absolute;
	top: 27px;
}

.wlyx-sec5 .content .first dd {
	background: #e04744;
}

.wlyx-sec5 .content .second dd {
	background: #a0c531;
}

.wlyx-sec5 .content .thrid dd {
	background: #358ecb;
}

.wlyx-sec5 .content .forth dd {
	background: #ffb829;
}

.wlyx-sec5 .content .first dd span {
	border-color: transparent transparent transparent #e04744;
	right: -40px;
}

.wlyx-sec5 .content .second dd span {
	border-color: transparent #a0c531 transparent transparent;
	left: -40px;
}

.wlyx-sec5 .content .thrid dd span {
	border-color: transparent transparent transparent #358ecb;
	right: -40px;
}

.wlyx-sec5 .content .forth dd span {
	border-color: transparent #ffb829 transparent transparent;
	left: -40px;
}

.wlyx-sec6 {
	width: 1212px;
	height: 1012px;
}

.wlyx-sec6 .content {
	width: 1100px;
	height: 840px;
	background: url(../img/wlyx/sec7-4.jpg) no-repeat center;
}

.sec6-con {
	width: 186px;
	height: 216px;
	padding: 64px 0 0 206px;
}

.wlyx-sec6 .first {
	background: url(../img/wlyx/sec7-1.jpg) no-repeat 30px center;
}

.wlyx-sec6 .second {
	background: url(../img/wlyx/sec7-2.jpg) no-repeat center right;
	margin-left: 708px;
	padding: 64px 206px 0 0;
}

.wlyx-sec6 .thrid {
	background: url(../img/wlyx/sec7-3.jpg) no-repeat 30px center;
}

.wlyx-sec6 .sec6-con h3 {
	font-size: 24px;
	color: #50b6ff;
	margin-bottom: 15px;
}

.wlyx-sec6 .second h3 {
	text-align: right;
}

.wlyx-sec6 .second h3 span {
	margin-right: 40px;
}

.wlyx-sec6 .thrid h3 span {
	margin-left: 40px;
}

.wlyx-sec7 {
	width: 1212px;
	height: 576px;
	background: url(../img/wlyx/sec7.jpg) no-repeat center;
}

.wlyx-sec8 {
	width: 1212px;
	height: 564px;
}

.wlyx-sec8 .content {
	width: 1212px;
	height: 370px;
}

.wlyx-sec8 .content li {
	width: 240px;
	height: 370px;
	float: left;
	margin-right: 80px;
}

.wlyx-sec8 .conBtm {
	width: 230px;
	height: 180px;
}

.wlyx-sec8 .conBtm h3 {
	font-size: 20px;
	line-height: 70px;
	text-align: center;
}

.wlyx-sec8 .conBtm .first {
	color: #ff6f69;
}

.wlyx-sec8 .conBtm .second {
	color: #2673b2;
}

.wlyx-sec8 .conBtm .thrid {
	color: #50b0ff;
}

.wlyx-sec8 .conBtm .forth {
	color: #c6cc2c;
}

.wlyx-sec8 .conBtm p {
	font-size: 16px;
	line-height: 26px;
	margin-left: 5px;
}

.wlyx-sec9 {
	width: 1212px;
	height: 628px;
}

.wlyx-sec9 .sec9-T {
	font-size: 22px;
	text-align: center;
	color: #454545;
	line-height: 38px;
}

.wlyx-sec9 .content {
	width: 1212px;
	height: 362px;
	margin-top: 50px;
}

.wlyx-sec9 .content img {
	float: left;
}